

.About {
    background: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;

}

.about-row-1{
    display: flex;
    flex-direction: row;
    margin: 0 12.5%;
    width: 75%;
    padding-top: 10%;
}


.about1 > img {
    width: 60%;
    border: black double thin;
    margin-top: 16px;
}

.about1{
    width: 50%
}

.about2{
    width: 50%
}
