

.About {
    background: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;

}

.about-row-1{
    display: flex;
    flex-direction: row;
    margin: 0 12.5%;
    width: 75%;
    padding-top: 10%;
}

.about-row-2{
    display: flex;
    flex-direction: column;
    margin: 0 12.5%;
    width: 75%;
    padding-top: 5%;
}


.about1 > img {
    width: 70%;
    border: black double thin;
    margin-top: 16px;
}

.about1{
    width: 40%
}

.about2{
    width: 60%
}

.chef-paper {
    width: 30%;
    margin-right: 5%;
    padding: 2%;
    text-align: center;
}

.chef-paper > img {
    width: 90%;
}

.chefs-row {
    display: flex;
    flex-direction: row;
}

.about-row-3 {
    display: flex;
    flex-direction: row;
    margin: 3% 12.5%;
}

.fifty {
    width: 50%;
font-weight: bold;
}

.about-row-4 {
    text-align: center;
    width: 100%;
    font-weight: 100;
}

.about-row-4 > button{
    background-color: white;
    border-width: 1px;
    margin-bottom: 2%;
}