.header{
    position: fixed;
    width:100%;
    height: 7.5vh;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    text-align: center;
    backdrop-filter: blur(3px);
    backdrop-filter: contrast(70%);
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.header-logo{
    height: 100%;
}

.left-header{
    width: 15%;
    margin: auto 2.5%;
    height: 100%;
}

.right-header{
    width: 85%;
    height: 100%;
    display: flex;
    margin: auto 5% auto 30%;
    flex-direction: row;
    justify-content: space-between;
}

.header-button > a {
    text-decoration: none;
    font-size: 18px;
    padding: 20% 75%;
    color: white;
}

.header-button {
    margin: auto auto;

}

.header-button > :hover{
    background-color: azure;
}



