.dialog-main > Paper {
    min-width: 500px !important;
    height: 60vh;
}

.gree {
    background-color: green;
}

.MuiDialogContent-root > p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.MuiTypography-h6 {
    font-size: 32px !important;
}

.row-one-modal{
    width: 95%;
    padding: 0 24px;
    display: flex;
    flex-direction: row;
}

.row-one-modal-c {
    width: 50%;
    margin: auto 0;
}

.row-one-modal-c > :first-child{
    font-size: 24px;
}

.inline {
    margin: 5% auto;
}

.container {
    
}